<p id="notice"><%= notice %></p>

<p>
  <b>Target age range:</b>
  <%= @target_age.target_age_range %>
</p>


<%= link_to 'Edit', edit_target_age_path(@target_age) %> |
<%= link_to 'Back', target_ages_path %>
