<div class="page-menu col-lg-3">
	<div class="bs-component">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"></span>
				イベント
			</li>
			<li class="list-group-item">
				<span class="badge"></span>
				お気に入り
			</li>
			<li class="list-group-item">
				<span class="badge"></span>
				購入履歴
			</li>
			</li>
			<li class="list-group-item">
				<span class="badge"></span>
				写真
			</li>
			<li class="list-group-item">
				<span class="badge"></span>
				メンバー管理
			</li>
			<li class="list-group-item">
				<span class="badge"></span>
				設定
			</li>
		</ul>

		<ul class="list-group">
			<li class="list-group-item">
				広告
			</li>
			<li class="list-group-item">
				広告
			</li>
		</ul>
	</div>
</div>
